
        <div class="leads">
        
          <h1 class="leads-title">Leads</h1>
        
        <table class="leads-table">
        
          <tr class="lead-table-title">
          <td> First Name</td>
          <td> Last Name</td>
          <td> Email</td>
          <td> Title</td>
          <td> Status</td>
          <td> Last Modified</td>
          <td> Info</td>
          </tr>

          <% for (i = 0; i < leads.length; i++) {%> 
            <tr>
            <td> <%= leads[i].lead.firstname%> </td>
            <td> <%= leads[i].lead.lastname %></td>
            <td> <%= leads[i].lead.email %></td>
            <td> <%= leads[i].lead.title %></td>
            <td> <%= leads[i].leadProcess[0].now_status %></td>
            <td> <%= leads[i].leadProcess[0].last_date_modified.getFullYear() %></td>
            <td> <button type="">Expand</button></td>
            </tr>
          <%} %>
        
        </table>
        

        </div>

        