<%-include("partials/header") -%>

<div class="header-nav">
    
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>

<form action="/<%=action%>" method="POST">
    
        <!--<button type="submit" class="btn btn-success">Login / Register</button>-->
        <button type="submit" class="btn btn-success"><%=loginOrOut%>%></button>
</form>

    </ul>

</div>


<div class="app">
           
    <!--Side Bar Strat-->
    <div class="side-bar">

    

        <% if (typeof(menuBar) !== 'undefined') { %> 
            <% for (i=0; i < menuBar.length; i++) { %>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne-<%(i+1)%>">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-<%(i+1)%>" aria-expanded="true" aria-controls="collapse-<%(i+1)%>">
                                    <%=menuBar[i][0]%>
                                </button>
                            </h2>
                        </div>
                        <% for (j=1; j < menuBar[i].length; j++) { %>

                            <div id="collapse-<%(i+1)%>" class="collapse" aria-labelledby="heading-<%(i+1)%>" data-parent="#accordionExample">
                                <div class="card-body">
                                <form action='/dashboard/<%=menuBar[i][0]%>/<%=menuBar[i][j]%>' method='post'>
                                    <button class="nav-btn" type="submit"> <%=menuBar[i][j]%></button>
                                </form>
                                
                                
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

            <% } %>
        <% } %>

    </div>

    <!--Side Bar End-->



   <!--CRM Start-->
    <div class="crm">
    
    </div>
    <!--CRM End-->
    


</div>




<%-include("partials/footer") -%>
