<%-include("partials/header") -%>


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>


  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--font awesome-->
  <script src="https://kit.fontawesome.com/e27d35dee6.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/home.css" rel="stylesheet">
  <link href="css/modal.css" rel="stylesheet">


</head>

<body>

  <!--navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

    <img src="http://razked.com/CRM/toggle.svg" class="nav-toggle" id="menu-toggle">

    <ul class="navbar-nav mr-auto" id="mobile-nav">

      <li class="nav-item">
        <a class="nav-link link-icon" href="#">
          <img src="http://razked.com/CRM/notification.svg" alt="notification icon">
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link link-icon" href="#">
          <img src="http://razked.com/CRM/search.svg" alt="search icon">
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link lead-btn" data-toggle="modal" href="#newlead-modal">
          + <span class="no-mobile">New Lead</span></a>

      </li>

    </ul>
    <a class="navbar-brand" href="#">
      <!-- <img src="img/logo.svg" width="20%" alt="logo"> -->
      Bmby2
  </a>


  </nav>

  <%-include("partials/newlead-modal") -%>



  <!-- Page Content -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">

      <div class="list-group list-group-flush">

        <div class="cur-user">
          <img src="<%=user.userData.profileImg%>" class="cur-user__pic" alt="user pic" id="cur-user-pic">
          <h5 class="cur-user__name" id="cur-user-name"><%=user.userData.username%></h5>
          <p class="cur-user__role" id="cur-user-role"><%=user.userData.role%></p>
        </div>

        <% for(i = 0; i < user.userMenu.length; i++) { %> 

         <form action="/dashboard/<%=user.userMenu[i]%>" method='post'>
          
            
            <button type="submit" class="list-group-item list-group-item-action bg-light"><%=user.userMenu[i]%></button>
          </form>
                <% } %>

<!--

        <a href="/register" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Leads</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Users</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Reports</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Logout</a>
-->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">

      <div class="container-fluid">


        <% if (typeof leads !== 'undefined') {%>

        <%-include("partials/leads") -%>
        
        <%} %>

      </div>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->




  <!--Zohar ejs-->



  <!--Zohar ejs end-->

  <!--bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>

