<div class="users">


<script>

</script>
<form action="users" method="post">
   
        <div class="sort-selction">


            

            
            <label for="">Sort</label>
            <select name="option">

            <% for(i = 0; i < select.selector.length ; i ++) { %>
               <% if (select.selected === select.selector[i].orderBy) { %>
                    
                    <option selected value="<%= select.selector[i].orderBy %>"><%= select.selector[i].view %></option>

              <%  } else { %>
                    
                    <option value="<%= select.selector[i].orderBy %>"><%= select.selector[i].view %></option>

             <% } %>

             <% } %>
             
            </select>

            <label for="">Filter</label>
            <select name="group">

            <% for(i = 0; i < group.selector.length ; i ++) { %>


               <% if (group.selected === group.selector[i].groupBy) { %>
                    
                    <option selected value="<%= group.selector[i].groupBy %>"><%= group.selector[i].view %></option>

              <%  } else { %>
                    
                    <option value="<%= group.selector[i].groupBy %>"><%= group.selector[i].view %></option>

             <% } %>

             <% } %>
             
            </select>

                       <button name="order" value="order" type="submit">Go</button>
        </div>



<table class="dashboard-tale">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td class="dasboard-table-phne-off">Email</td>
                <td class="dasboard-table-phne-off">Mobile</td>
                <td class="dasboard-table-phne-off">Status</td>
                <td class="dasboard-table-phne-off">Role</td>
                <td></td>        
            </tr>  



    <%  for(i = 0 ; i < pageData.itemPerPage && i < users.length ; i++) { %>
        
            <% if (i % 2 === 0) { %>
                     <tr class="double">
                <% } else { %>
                <tr >
            <% } %>


 
                <td><%= users[i].firstName %></td>
                <td><%= users[i].lastName %></td>
                <td class="dasboard-table-phne-off" ><%= users[i].email %></td>
                <td class="dasboard-table-phne-off" ><%= users[i].mobile %></td>
                <td class="dasboard-table-phne-off" ><%= users[i].status %></td>
                <td class="dasboard-table-phne-off" ><%= users[i].role %></td>
                <td>

                <% if (i % 2 === 0) { %>
                     <button onClick="showModal(<%= JSON.stringify(users) %>,<%=i%>)" class="btn-double" type="">Edit</button>
                <% } else { %>
                 <button onClick="showModal(<%= JSON.stringify(users) %>,<%=i%>)" class="btn-odd" type="">Edit</button>
            <% } %>
            </td>
                

            </tr>      
    <% } %>
    

</table>

    <div class="paging">

        
        <% if (pageData.prev) { %>
            <button name="changepage" value="<%= pageData.pageIndex - 1 %>" class="prev page-btn" type="submit">Prev</button> 
        <% } %>
        

        <% if (pageData.next) { %>
            <button name="changepage" value="<%= pageData.pageIndex + 1%>" class="next page-btn" type="submit">Next</button>
        <% } %>
        

    </div>

</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>


        <h1 id="modal-fullname"></h1>
        
        <input type="hidden" id="userID" name="userID" value="">
        
        <% if (user.role === userRoles.SUPER_ADMINISTRATOR)  { %>
        <h2>Change Role</h2>
        <select name="roleUpdateOption">

            <% for(role in userRoles) { %>
                <h2><%= userRoles[role] %></h2>
                    
                    <option value="<%= userRoles[role] %>"><%= userRoles[role] %></option>

            <% } %>
        </select>
        <% } %>

        <h2>Change status</h2>
        <select name="statusUpdateOption">
            <% for(staus in userStats) { %>
                <h2><%= userStats[staus] %></h2>
                    
                    <option value="<%= userStats[staus] %>"><%= userStats[staus] %></option>
                    
            <% } %>
            </select>
        <br>

        <% if (user.role === userRoles.SUPER_ADMINISTRATOR)  { %>
        <button value="delete" name="btnEdit" type="submit">Delete User</button>
        <% } %>
        <br>

        <button value="edit" name="btnEdit" type="submit">Update User</button>



  </div>

</div>
</form>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementsByClassName("btn-edit");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  console.log('ok')
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

    function showModal(user,index) {

        modal.style.display = "block";
        

        document.getElementById("modal-fullname").innerHTML = user[index].firstName + " " + user[index].lastName
        document.getElementById("userID").value = user[index].userID

    }

</script>


